[neopixel sb_leds]
pin: EBBCan:PD3
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 3
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.49
initial_GREEN: 0.49
initial_BLUE: 0.15
#initial_WHITE: 0.0

[neopixel chamber]
pin: PB10
chain_count: 148
color_order: GRB
initial_RED: 0.49
initial_GREEN: 0.49
initial_BLUE: 0.15
#initial_WHITE: 1.0



[gcode_macro LIGHT_On_off]
#description: Helper: Light
gcode:
  {% set flag=printer["neopixel chamber"].color_data[0][2] %}
  {% if flag==0 %}
  SET_LED LED="chamber" RED=0.49 GREEN=0.49 BLUE=0.15 SYNC=0 TRANSMIT=1
   {action_respond_info("chamber on")}
  {% else %}
  SET_LED LED="chamber" RED=0 GREEN=0 BLUE=0 SYNC=0 TRANSMIT=1
  {action_respond_info("chamber off")}
  {% endif %}