
[mcu scanner]
canbus_uuid: 4b97908a290c
#serial: /dev/serial/by-id/usb-cartographer_cartographer_
#    adjust to suit your scanner, if using usb change to serial

[scanner]
mcu: scanner            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 29                        
#    adjust for your cartographers offset from nozzle to middle of coil
backlash_comp: 0.017 #0.01453 
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc      
mesh_runs: 2
#    Number of passes to make during mesh scan.


[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105


[bed_mesh]
zero_reference_position: 155, 155    
#    set this to the middle of your bed
speed: 500
#    movement speed of toolhead during bed mesh
horizontal_move_z: 5
#    height of scanner during bed mesh scan
mesh_min: 30,30 #15, 16
#    start point of bed mesh [X, Y]
mesh_max: 270,270 #289, 275
#    end point of bed mesh [X, Y]
probe_count: 19, 19
mesh_pps: 0, 0
algorithm: bicubic
adaptive_margin: 5
split_delta_z: .010
move_check_distance: 3.0
bicubic_tension: 0.1
